/* Container links */
.container__contactLinks {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact__text {
    padding: 0;
}

.contact__link {
    padding: 2vh 0 2vh 0;
    width: 30%;
}

.contact__linkText {
    width: 60%;
    color: var(--branco);
    flex-grow: 1;
}

/* Contact icons */
.contact__img {
    width: 50%;
    max-width: 100px;
}

@media screen and (min-width: 1024px) {
    .contact__linkText {
        max-width: 300px;
        width: auto;
        margin-left: 1.5rem;
        font-size: 1.5rem;
    }

    .contact__img {
        width: auto;
        min-width: 90px;
    }

    .contact__link {
        width: auto;
    }
}