/* Presentation Image */
.container__img {
    width: 100%;
    padding-top: 15vh;
}

.imgperfil {
    width: 46vw;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--rosa);
}

/* Presentation Text */
.container__presentation {
    padding: 0 8vw 0 8vw;
    margin-top: 10vh;
}

.title {
    font-weight: 700;
    color: var(--branco);
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.title::first-letter {
    font-weight: 700;
    color: var(--branco);
    font-size: 2rem;
}

.subtitle {
    font-weight: 700;
    color: var(--branco);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}