/* Presentation container */
.presentation {
    min-height: 100vh;
}

/* Presentation title */
.presentation__title {
    font-weight: 700;
    color: var(--branco);
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.presentation__title::first-letter {
    font-weight: 700;
    color: var(--branco);
    font-size: 2rem;
}


/* Presentation Image */
.container__img {
    width: 100%;
    padding-top: 15vh;
}

.imgperfil {
    width: 46vw;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--rosa);
}

/* Presentation Text */
.container__presentation {
    margin-top: 10vh;
}

.subtitle__presentation {
    line-height: 1.5;
}

/* Scroll down indicator */
.presentation__scrollDown {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin: 0 auto;
}

.scrollDown__text {
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--cinza-claro);
}

.scrollDown__button {
    align-self: center;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollDown__img {
    align-self: center;
    margin: 0 auto;
}

.scrollDown__hide {
    display: none;
}