.project__box {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 2px solid var(--rosa);
    border-radius: 5px;
    margin-bottom: 5vh;
    height: 12vh;
    min-height: 8rem;
}

.project__box2 {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 2px solid var(--rosa);
    border-radius: 5px;
    height: 12vh;
    min-height: 8rem;
}


.project__link {
    text-decoration: none;
    color: var(--branco);
}

.project__subdivision {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid var(--rosa);
    width: 100%;
}

.project__title {
    font-weight: 700;
    text-align: center;
}

.project__description {
    font-weight: 300;
    text-align: center;
    font-size: 0.88rem;
    padding-left: 3vw;
    padding-right: 3vw;
}

.project__img {
    width: 20%;
    min-height: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    max-width: 100px;
}

@media screen and (min-width: 1024px) {
    .project {
        display: flex;
        justify-content: space-evenly;
        max-height: 160px;
        gap: 20px;

    }

    .project__link {
        max-width: 600px;
        max-height: 160px;
    }

    .project__description {
        padding: 0.5rem;
    }

    .project__img {
        padding: 0.5rem;
        max-width: 110px;
    }
    
    .project__title {
        font-size: 1.7rem;
    }
    
    .project__description {
        font-size: 1.25rem;
    }
}